{% extends "base.html" %}

{% block content %}
<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">
  .breath_light {
        opacity: 1;
      
        animation-name: breath;                         /* 动画名称 */
        animation-duration: 3s;                         /* 动画时长3秒 */
        animation-timing-function: ease-in-out;         /* 动画速度曲线：以低速开始和结束 */
        animation-iteration-count: infinite;            /* 播放次数：无限 */
        -webkit-animation-name: breath;                 /* 动画名称 */
        -webkit-animation-duration: 3s;                 /* 动画时长3秒 */
        -webkit-animation-timing-function: ease-in-out; /* 动画速度曲线：以低速开始和结束 */
        -webkit-animation-iteration-count: infinite;    /* 播放次数：无限 */
    }
     
    @keyframes breath {
        from { opacity: 0.5; color: green }                          /* 动画开始时的不透明度 */
        50%  { opacity:   1; color:red;}                          /* 动画50% 时的不透明度 */
        to   { opacity: 0.5; color: green}                          /* 动画结束时的不透明度 */    
    }
     
    @-webkit-keyframes breath {
        from { opacity: 0.5; color: green }                          /* 动画开始时的不透明度 */
        50%  { opacity:   1; color:red;}                          /* 动画50% 时的不透明度 */
        to   { opacity: 0.5; color: green}                          /* 动画结束时的不透明度 */ 
    }

</style>
<div class="row" style='margin-top:100px'>
	<div class="col-lg-4 col-md-offset-2" >
		<p> 模块：</p>
	</div>
  <div class="col-lg-6 col-md-offset-2 ">
    <div class="input-group">
      <div class="input-group-btn" id="selectObj">
        <button id="dLabel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择模块 <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#" value="asp">asp</a></li>
          <li><a href="#" value="altair">altair</a></li>
          <li><a href="#" value="crm">crm</a></li>
          <li><a href="#" value="acc">acc</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
     
    </div><!-- /input-group -->

  </div><!-- /.col-lg-6 -->
  
  
</div>

<div class="row devis_lists" style='margin-top:10px'>
<div class="col-lg-4 col-md-offset-2" >
<p> 服务器组：</p>
</div>
<div class="col-lg-6 col-md-offset-2" >
  <div id='devis_lists_text' ></div>
 </div>
</div>


<div class="row" style='margin-top:10px'>
<div class="col-lg-4 col-md-offset-2" >
<p> 版本号：</p>
</div>
<div class="col-lg-6 col-md-offset-2" >
 <input type="text" class="form-control" aria-label="..." id="ver">
 </div>
</div>

<!-- 描述 -->
<div class="row" style='margin-top:10px'>
  <div class="col-lg-6 col-md-offset-2" > <p> 描述：</p> </div>

  <div class="col-lg-6 col-md-offset-2" > <textarea id="describe" class="form-control" rows="3"></textarea> </div>
 
 </div>

<div class="row" style='margin-top:10px'> 
	<div class="col-lg-6 col-md-offset-2" >
    	<button type="button" class="btn btn-danger btn-default" id="model">提交上线</button>
      
  	</div>
</div>

<div class="row" style='margin-top:100px'> </div>

<div   class="col-lg-6 col-md-offset-2 ">  
<!-- <p> <textarea id="result" style="width: 900px ;border: 0 none; outline-style: none">   </textarea>   </p> -->
<p> <pre id="result" style="width: 900px ;border: 0 none; outline-style: none;display: none">   </pre>   </p>
</div>

<script type="text/javascript">
$(document).ready(function(){
 $('.dropdown-menu li').on('click',function(){
        var modelname = $(this).text();
        $('#dLabel').text(modelname);
        $.get("/ajax_online/",{'modelname1':modelname},function(data){
          var _hostnameArr = [];
          
          var _htmlsubdom = '';
          
          data = $.parseJSON(data); //拿到后台传过来的数据data

          
          //console.log(data) 
          for(var i=0;i<data.length;i++){
            _hostnameArr.push({hostname:data[i]['fields'].hostname,lip:data[i]['fields'].lip});
          }
          for(var j=0;j<_hostnameArr.length;j++){ //算行
            if(j%6 == 0){   //6个元素一行
              _htmlsubdom+='<div class="row">';
              
            }
              _htmlsubdom += '<div class="col-md-2">'+
                          '<i class="icon-laptop icon-2x i_lip" style="color:#0864b3"; data-lname="'+_hostnameArr[j].hostname+'" data-lip="'+_hostnameArr[j].lip+'"></i>'+
                          '<p>'+_hostnameArr[j].hostname+'</p></div>';
            if(j%6 == 5){  //最后一行
              _htmlsubdom+='</div>';
            }

          }
          if(_hostnameArr.length%6 != 5){
            _htmlsubdom+='</div>';
          }
          $('#devis_lists_text').html(_htmlsubdom);
       });
    });

    //click
    $('#devis_lists_text').on('click','.i_lip',function(){
      
      $(this).parents('.col-md-2').remove();
    });
  });


    $("#model").click(function(){
    	var modelname = $("#dLabel").text();
    	var version = $("#ver").val();
    	var describe = $("#describe").val();
      var liplists = '',hostnamestr = '';
      $('.i_lip').each(function(){
        liplists+=$(this).attr('data-lip')+',';
        hostnamestr+=$(this).attr('data-lname')+',';
      });
      liplists = liplists.substring(0,liplists.length-1);
      hostnamestr = hostnamestr.substring(0,hostnamestr.length-1);
      
      
      var timer = null;
      timer = setInterval(function(){
        $.post("/fre_host/",null,function(data){
          // console.log(data)
          if(data){

              $('#devis_lists_text .col-md-2').find('p').css('color','#0864b3').removeClass('breath_light');
              $('#devis_lists_text .col-md-2').find('i').css('color','#0864b3').removeClass('breath_light');

              $('#devis_lists_text .col-md-2 i[data-lname="' +data+ '"]').css('color','red').addClass('breath_light');
              $('#devis_lists_text .col-md-2 i[data-lname="' +data+ '"]').next().css('color','red').addClass('breath_light');
          }else{
            alert('error')
          }
        
       });
      },500);

    	$.post("/online_app/",{ 'modelname':modelname, 'liplists':liplists, 'hostname':hostnamestr,'version':version, 'describe':describe },function(data){
    		$('#result').html(data);
    		$('#result').show(); //改变display: none
    		//alert(data.length)
        clearInterval(timer);
        //
        $('#devis_lists_text .col-md-2').find('p').css('color','#0864b3').removeClass('breath_light');
        $('#devis_lists_text .col-md-2').find('i').css('color','#0864b3').removeClass('breath_light');
        alert("恭喜你上线成功！！！") 

    	 });
      });


</script>


{% endblock %}

