*.pyc
*.swp
*.zip
*.rar
*.via
*.tmp
*.err
*.ini
*.tar
*.txt
.idea/
!.gitignore
__ pycache __
.DS_Store
!requirements.txt
settings.py
mail.py
zabbix_api.py
ansicmd.py
CMDB/scripts/*
tmp.txt
media/*
*_config.py
CMDB/migrations/*
CMDB/static/oss/upload.js
._*
.*