{% extends "base.html" %}

{% load staticfiles %}

{% block css  %}

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

 {% endblock %}

 
 {% block content %}


 <table id="table_id" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>主机名</th>
            <th>ip</th>
            <th>配置</th>
            <th>服务</th>
            <th>地址</th>
            <th>费用</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>主机名</th>
            <th>ip</th>
            <th>配置</th>
            <th>服务</th>
            <th>地址</th>
            <th>费用</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </tfoot>
    </table>




<script type="text/javascript">

  $(document).ready( function () {
    var table = $('#table_id').DataTable({
    "processing": true, 
    "ajax": {
      "url": "/data/",
      "type": "POST",
      "dataSrc": "",
    },
 
  "columns": [
          { "data": "fields.hostname" },
          { "data": "fields.lip" },
          { "data": "fields.config" },
          { "data": "fields.server"},
          { "data": "fields.data_center"},
          { "data": "fields.cost" },
          { "data": "fields.remark" },
          {"defaultContent": "<button>Click!</button>"},
      ],
  });
    
    $('#table_id').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        alert( " hostname is: " + data[0]);
    } );

});

</script>

{% endblock %}



