
{% extends "base.html" %}

{% block content %}

<div class="table-responsive" >
          {% load pagination_tags %}
        
<!-- 列表  -->

<p>Found {{ hosts_list|length }} host{{ hosts_list|pluralize }}.</p>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>主机名</th>
<!--             <th>实例名</th> -->
            <th>ip</th>
            <th>配置</th>
            <th>业务</th>
<!--             <th>服务</th> -->
            <th>地址</th>
            <th>费用</th>
            <th>备注</th>

          </tr>
        <tbody>
        {% for hosts in hosts_list %}

        <tr> 
        <td> {{ hosts.hostname }} </td>  
<!--         <td> {{ hosts.instance_id }} </td>  -->
        <td> {{ hosts.lip }} <br> {{ hosts.wip }}</td>  
        <td> {{ hosts.config }} </td>  
        <td> {{ hosts.service_model }} </td> 
       
<!--         {% for server in hosts.server.all %} 
        <td> {{ server }} </td> 
        {% endfor %}
 -->
        {% if hosts.data_center = 1 %}
        <td> 青岛 </td>
        {% endif %}  

        <td> {{ hosts.cost }} </td>  
        <td> {{ hosts.remark }} </td> 
        </tr>

        {% endfor %}

      </tbody>
    </table>

<!-- 分页 -->
  {% if hosts_list.object_list and hosts_list.paginator.num_pages > 1 %}

        <div>
            <ul class="pager">
            <!-- 是否有前一页  has_previous -->
            {% if hosts_list.has_previous %}
              <li><a href="?page={{ hosts_list.previous_page_number }}">上一页</a></li>
            {% endif %}
           <!-- 页码 -->
            {% for p in hosts_list.paginator.page_range %}
            {% ifequal p hosts_list.number %}
            <span> {{p}} </span>
            {% else %}
            <a href="?page={{p}}" title="第{{p}}页"> {{ p }} </a>
            {% endifequal %}
            {% endfor %}

            {% if hosts_list.has_next %}
             <li><a href="?page={{ hosts_list.next_page_number }}">下一页</a></li>
            {% endif %}
            </ul>
        </div>

           {% endif %}
          第 {{ hosts_list.number }} 页 共 {{ hosts_list.paginator.num_pages }} 页  {{ hosts_list.paginator.count }} 条
          
          </div>

{% endblock %}
