{% extends "new/base.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <link href="{% static 'cmdb_css/reveal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<a href="/rbac/roles/new" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>新增</a>
<table class="table table-striped projects">
    <tr>
        <td>角色</td>
        <td>权限</td>
        <td colspan="2">操作</td>
    </tr>
    {% for role in role_list %}
        <tr>
            <td>{{ role.title }}</td>
            <td>{{ role.permissions.all }}</td>
            <td>
              <a href="/rbac/roles/edit/{{ role.id }}"  class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>编辑</a>
              <a href="/rbac/roles/delete/{{ role.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除</a>
            </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}

{% block js  %}


{% endblock %}