{% extends "new/base.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <link href="{% static 'cmdb_css/reveal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<a href="/rbac/users/new" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>新增</a>
<table class="table table-striped projects">
    <tr>
        <td>用户名</td>
        <td>密码</td>
        <td>昵称</td>
        <td>邮件</td>
        <td>角色</td>
        <td colspan="2">操作</td>
    </tr>
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles.all }}</td>
            <td>
                <a href="/rbac/users/edit/{{ user.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>编辑</a>
                <a href="/rbac/users/delete/{{ user.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>删除</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block js  %}


{% endblock %}