{% extends "weixin/base_migrite.html" %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
<h4>域名池被封数量</h4>

<br>
<br>
<div id="main" style="width: 600px;height:400px;"></div>

<div id="main1" style="width: 1000px;height:600px;"></div>

    <script type="text/javascript">
       $.post("/get_deny_count/",{}, function(data){

            // console.log(data)
            
            data = $.parseJSON(data); 

            console.log(data)
            var names = Object.keys(data);
            var values = Object.values(data);
            // console.log(names)
            // console.log(values)

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据

        var option = {
            title: {
                text: '今日被封'
            },
            tooltip: {},
            legend: {
                data:['域名数']
            },
            xAxis: {
                data: names
              },
            yAxis: {},
            series: [{
                name: '域名数',
                type: 'bar',
                data: values   
              }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

      });

   $.post("/get_table_deny/",{}, function(data){

        console.log(data)
        
        data = $.parseJSON(data); 

        console.log(data)
        // var names = Object.keys(data);
        // var values = Object.values(data);
        // console.log(names)
        // console.log(values)
        pool_name = data.pool_name
        deny_data_extent = data.deny_data_extent
        series = data.series
        console.log(series)



      var myChart1 = echarts.init(document.getElementById('main1'));


      var option = {
          tooltip : {
              trigger: 'axis'
          },
          legend: {
              data:pool_name
          },
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          calculable : true,
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : deny_data_extent
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],

          series : series 
          // series : [
          //     {
          //         name:'邮件营销',
          //         type:'line',
          //         stack: '总量',
          //         data:[120, 132, 101, 134, 90, 230, 210]
          //     },
          //     {
          //         name:'联盟广告',
          //         type:'line',
          //         stack: '总量',
          //         data:[220, 182, 191, 234, 290, 330, 310]
          //     },
          //     {
          //         name:'视频广告',
          //         type:'line',
          //         stack: '总量',
          //         data:[150, 232, 201, 154, 190, 330, 410]
          //     },
          //     {
          //         name:'直接访问',
          //         type:'line',
          //         stack: '总量',
          //         data:[320, 332, 301, 334, 390, 330, 320]
          //     },
          //     {
          //         name:'搜索引擎',
          //         type:'line',
          //         stack: '总量',
          //         data:[820, 932, 901, 934, 1290, 1330, 1320]
          //     }
          // ]
      };

      myChart1.setOption(option);
   });        

   </script>



<table class="table table-striped">
      <thead>
        <tr>
          <th>域名池</th>
          <th>被封数量</th>
          <th>时间</th>
        </tr>
      <tbody>
      {% for i in deny_model %}

      <tr> 
      <td> 
        <div class="readonly dvInput_{{last_value.pk}}"> {{ i.models_name }} </div>
      </td>
      <td> {{ i.models_count }} </td>  
      <td> {{ i.date_time }} </td>  
      {% endfor %}
      </tbody>
</table>

</body>
</html>
{% endblock %}




