{% extends "weixin/base_migrite.html" %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
<h4>域名池设置</h4>

<br>
<br>

<table class="table table-striped">
      <thead>
        <tr>
          <th>域名池</th>
          <th>被封数量</th>
          <th>时间</th>
        </tr>
      <tbody>
      {% for i in deny_model %}

      <tr> 
      <td> 
        <div class="readonly dvInput_{{last_value.pk}}"> {{ i.models_name }} </div>
      </td>
      <td> {{ i.models_count }} </td>  
      <td> {{ i.date_time }} </td>  
      {% endfor %}
      </tbody>
</table>

</body>
</html>
{% endblock %}




