{% extends "weixin/base_migrite.html" %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
<h4>域名池被封数量</h4>

<br>
<br>
<div id="main" style="width: 600px;height:400px;"></div>

<div id="main1" style="width: 1000px;height:600px;"></div>

    <script type="text/javascript">
       $.post("/get_deny_count/",{}, function(data){

            // console.log(data)
            
            data = $.parseJSON(data); 

            console.log(data)
            var names = Object.keys(data);
            var values = Object.values(data);
            // console.log(names)
            // console.log(values)

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据

        var option = {
            title: {
                text: '今日被封'
            },
            tooltip: {},
            legend: {
                data:['域名数']
            },
            xAxis: {
                data: names
              },
            yAxis: {},
            series: [{
                name: '域名数',
                type: 'bar',
                data: values   
              }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

      });

   $.post("/get_table_deny/",{}, function(data){

        console.log(data)
        
        data = $.parseJSON(data); 

        console.log(data)
        // var names = Object.keys(data);
        // var values = Object.values(data);
        // console.log(names)
        // console.log(values)
        pool_name = data.pool_name
        deny_data_extent = data.deny_data_extent
        series = data.series
        // console.log(series)



      var myChart1 = echarts.init(document.getElementById('main1'));


      var option = {
          tooltip : {
              trigger: 'axis',
              z:8,
          },
          legend: {
              data:pool_name,
              show:true,
              selectedMode:true,
              x: 'left', // 'center' | 'left' | {number},
              y: 'bottom', // 'center' | 'bottom' | {number}
          },
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          calculable : false,
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : deny_data_extent
              }
          ],
          yAxis : [
              {
                  type : 'value',
              }
          ],

          series : series,

          grid: {
            tooltip: {
              axisPointer: {
                  type: 'line',
                    lineStyle: {
                        color: '#48b',
                        width: 2,
                        type: 'solid'
                    },
                    crossStyle: {
                        color: '#1e90ff',
                        width: 1,
                        type: 'dashed'
                    },
                    shadowStyle: {
                        color: 'rgba(150,150,150,0.3)',
                        width: 'auto',
                        type: 'default'
                    }
                      }
                    }
          }
 
      };

      myChart1.setOption(option);
   });        

   </script>


</body>
</html>
{% endblock %}




