{% extends "weixin/base_migrite.html" %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
<h4>渠道设置</h4>

<br>
<br>
<style>.readonly input{border:none}</style>

<table class="table table-striped">
        <thead>
          <tr>
            <th>url</th>
            <th>状态</th>
            <th>时间</th>
            <th>备注</th>
            <th>操作</th>

          </tr>
        <tbody>
        {% for last_value in ck_domain %}

        <tr> 
        <td> 
          <div class="readonly dvInput_{{last_value.pk}}">
            <input type="text" readonly value= {{ last_value.fields.url }} name="url"  class="readonly" />
          </div>
        </td>
        <td class="wei_st" > {{ last_value.fields.weixin_status }} </td>  
        <td> {{ last_value.fields.last_date }} </td>  
        <td> 
          <div class="readonly dvInput_{{last_value.pk}}">
            <input type="text" readonly value= {{ last_value.fields.remark }} name="remark" class="readonly" />
          </div>
        </td>
        <td> <input type="button" value="编辑" class="dvInput_btn dvInput_btn_{{last_value.pk}}" />  <button>删除</button>  </td>    

        {% endfor %}
        </tbody>
</table>


<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.js"></script>

<script>
  $.each($('.dvInput_btn'), function(index, value) {
    $('.dvInput_btn').eq(index).on('click', function() {
      var toEdit = $(this).val();
      $('.dvInput_'+(index+1))[$(this).val() == '编辑' ? 'removeClass' : 'addClass']('readonly').find(':input').attr('readonly', $(this).val() == '编辑' ? false : true);
      $(this).val() == '编辑' ? $(this).val('保存') : $(this).val('编辑');
      if ($(this).val() == '编辑') {//保存的ajax代码
          console.log(111)
      }
    });
  })

  $.each($('.wei_st'), function(index, value) {
    // console.log(index);
    // console.log($('.wei_st').eq(index).text().indexOf(1))
    if($('.wei_st').eq(index).text().indexOf('-1') != -1){
        $('.wei_st').eq(index).css("color", "red").text("被封");
    }else {
        $('.wei_st').eq(index).css("color", "green").text("正常");
    }
})

 </script>
</body>
</html>
{% endblock %}




