{% extends "new/base.html" %} {% load staticfiles %} {% block css %}
<!-- <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"> -->
<style type="text/css">
.breath_light {
    opacity: 1;

    animation-name: breath;
    /* 动画名称 */
    animation-duration: 3s;
    /* 动画时长3秒 */
    animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;
    /* 播放次数：无限 */
    -webkit-animation-name: breath;
    /* 动画名称 */
    -webkit-animation-duration: 3s;
    /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;
    /* 播放次数：无限 */
}

@keyframes breath {
    from {
        opacity: 0.5;
        color: green
    }
    /* 动画开始时的不透明度 */
    50% {
        opacity: 1;
        color: red;
    }
    /* 动画50% 时的不透明度 */
    to {
        opacity: 0.5;
        color: green
    }
    /* 动画结束时的不透明度 */
}

@-webkit-keyframes breath {
    from {
        opacity: 0.5;
        color: green
    }
    /* 动画开始时的不透明度 */
    50% {
        opacity: 1;
        color: red;
    }
    /* 动画50% 时的不透明度 */
    to {
        opacity: 0.5;
        color: green
    }
    /* 动画结束时的不透明度 */
}
</style>
{% endblock %} {% block content %}
<ul class="nav nav-tabs" role="tablist" id='myTabs'>
    <li role="presentation" class="active"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">上线</a></li>
    <!-- <li role="presentation"><a href="#rollback" aria-controls="rollback" role="tab" data-toggle="tab">回滚</a></li> -->
</ul>
<div class="tab-content">
    <!-- 上线部分 -->
    <div role="tabpanel" class="tab-pane active" id="online">
        <div class="row" style='margin-top:20px'>
            <div class="col-lg-1">
                <p> 模块：</p>
            </div>
            <div class="col-lg-6 ">
                <div class="input-group">
                    <div class="input-group-btn" id="selectObj">
                        <button id="dLabel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择模块 <span class="caret"></span></button>
                        <ul class="dropdown-menu online-menu" aria-labelledby="dLabel">
                            <!--                             <li><a href="#" value="Asp">Asp</a></li>
                            <li><a href="#" value="Altair">Altair</a></li>
                            <li><a href="#" value="Crm">Crm</a></li>
                            <li><a href="#" value="Acc">Acc</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li> -->
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <div class="row devis_lists" style='margin-top:10px'>
            <div class="col-lg-1">
                <p> 镜像url：</p>
            </div>
            <div class="col-lg-40">
                <div id='devis_lists_text'></div>
            </div>
        </div>
        <div class="row" style='margin-top:10px'>
            <div class="col-lg-1">
                <p> war包名称：</p>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" aria-label="..." id="ver">
            </div>
        </div>
        <!-- 描述 -->
        <div class="row" style='margin-top:10px'>
            <div class="col-lg-1">
                <p> 描述：</p>
            </div>
            <div class="col-lg-6">
                <textarea id="describe" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="row" style='margin-top:10px'>
            <div class="col-lg-6">
                <button type="button" class="btn btn-danger btn-default btn-online-back" data-back=''>提交上线</button>
            </div>
        </div>
        <div class="row" style='margin-top:100px'></div>
        <div class="col-lg-6 ">
            <!-- <p> <textarea id="result" style="width: 900px ;border: 0 none; outline-style: none">   </textarea>   </p> -->
            <p>
                <pre id="result" style="width: 900px ;border: 0 none; outline-style: none;display: none">   </pre>
            </p>
        </div>
    </div>
    <!-- 回滚 部分 -->
    <div role="tabpanel" class="tab-pane" id="rollback">
        <div class="row" style='margin-top:20px'>
            <div class="col-lg-1">
                <p> 模块：</p>
            </div>
            <div class="col-lg-6 ">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="callbackLabel" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择模块 <span class="caret"></span></button>
                        <ul class="dropdown-menu rollback-menu" aria-labelledby="callbackLabel">
                            <!--                             <li><a href="#" value="Asp">Asp</a></li>
                            <li><a href="#" value="Altair">Altair</a></li>
                            <li><a href="#" value="Crm">Crm</a></li>
                            <li><a href="#" value="Acc">Acc</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li> -->
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $.get("/get_k8s_modelname/", null, function(data) {
        var _li = '',
            groupNameArr = [],
            listsArr = [];
        console.log(groupNameArr)
        for (var key in data) {
            groupNameArr.push(key);
            listsArr.push(data[key]);
        };
        for (var j = 0; j < groupNameArr.length; j++) {
            _li = '<li><a href="#" value="' + groupNameArr[j] + '">' + groupNameArr[j] + '</a></li>';


            $('.online-menu').append(_li);
            _li = '';
        };

        $('.online-menu li').on('click', function() {
            var modelname = $(this).text();

            var param = { 'name': modelname };
            // console.log(param);
            $('#dLabel').text(modelname);
            $.get("/k8s_dockerfile/", param, function(data) {
                console.log(data);
                var _hostnameArr = [];

                var _htmlsubdom = '';

                // data = $.parseJSON(data); //拿到后台传过来的数据data

                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    _hostnameArr.push({});
                }
                _htmlsubdom += '<div class="col-md-2">' +
                    '<i  data-lname="' + data.war_url + '"></i>' +
                    '<p id="image-name" value="' + data.war_url + '" >' + data.war_url + '</p></div>';

                $('#devis_lists_text').html(_htmlsubdom);
                $('#ver').val(data.warname)
            });
        });

    });
});

$(".btn-online-back").click(function() {
    $(this).attr("disabled", true);
    var _rollback = Boolean($(this).attr('data-back'));
    var btnText = $(this).text();
    console.log(btnText)
    if (btnText.indexOf('提交上线') != -1) {
        var modelname = $("#dLabel").text();
    } else if (btnText.indexOf('提交回滚') != -1) {
        var modelname = $("#callbackLabel").text();
    }
    var imagename = $("#image-name").text();
    var warname = $("#ver").val();
    var describe = $("#describe").val();
    var liplists = '',
        hostnamestr = '';
    $('.i_lip').each(function() {
        liplists += $(this).attr('data-lip') + ',';
        hostnamestr += $(this).attr('data-lname') + ',';
    });
    liplists = liplists.substring(0, liplists.length - 1);
    hostnamestr = hostnamestr.substring(0, hostnamestr.length - 1);

    console.log(modelname);
    var _param = {
        'modelname': modelname,
        'warname': warname,
        'describe': describe
    };
    if (_rollback) { //back
        _param = null;
        _param = {
            // 'mode': 'rollback',
            'modelname': modelname,
            'liplists': liplists,
            'hostname': hostnamestr,
            'version': null,
            'describe': null
        };
    }
    $.post("/k8s_dockerfile_act/", _param, function(data) {

        if (_rollback) { //back
            $('#result_back').html(data);
            $('#result_back').show(); //改变display: none
            alert("恭喜你回滚成功！！！");
        } else {
            $('#result').html(data);
            $('#result').show(); //改变display: none
            alert("恭喜你上线成功！！！")
        }


    });

});
</script>
{% endblock %}